<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Users Management</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<table >
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Address</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="user: ${users}" >
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.address}"></td>
			<td><a th:href="@{/editUser/{id}(id=${user.id})}">Chỉnh sửa</a></td>
			<td><a th:href="@{/deleteUser/{id}(id=${user.id})}">Xóa</a></td>
		</tr>
	</table>
	<br>
	<a th:href="@{/addUser}">
		<button type="button">Add User</button>
	</a>
</body>

</html>